* {
    font-family: 'Montserrat', sans-serif;
}

.container-bg {
    background-image: url('../img/background-body.svg');
    background-repeat: no-repeat;
    background-size: cover;

    display: -webkit-flex;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.background-middle {
    display: -webkit-flex;
    -webkit-flex-direction: column;

    display: flex;
    flex-direction: column;
    width: 890px;
    height: 90%;
    margin: 0 10px;
    background-image: url('../img/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 22px;
    box-shadow: 0px 0px 31px rgba(100,100,100,0.33);
}

.background-middle section {
    text-align: right;
}

.background-middle section img {
    margin: 10px 15px 0 0;
}

.form-bg {
    display: -webkit-flex;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-bg .form {
    text-align: center;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 0px 0px 12px rgba(100,100,100,0.17);
    width: 285px;
    height: 470px;
    position: relative;
}

.form h3 {
    color: #444444;
    font-size: 1em;
    font-weight: 700;
    line-height: 17px;
    margin: 25px 0 10px 0;
}

.form hr {
    margin: 0 auto 20px auto;
    width: 40px;
    border: solid 1px #a99576;
    background: #a99576;
}

.form input {
    margin: 10px 0 15px 0;
    padding: 8px;
    border: none;
    border-bottom: 1px solid #bbbbbb;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #bbbbbb;
}

.form input::placeholder {
    display: block;
    text-align: left;
    margin-left: 25px;
    color: #bbbbbb;
    font-size: 0.8em;
    font-weight: 500;
    line-height: 11px;
    
}

.form input:focus {
    outline: none;
    border-bottom: 1px solid #A99576;
    color: #444444;
}

/* * ------------------------------------ * */

.form button {
    width: 85%;
    padding: 15px 0;
    margin: 16px 0 15px 0;
    border: none;
    border-radius: 50px;
    background: #a99576;
    color: #ffffff;
    font-size: 0.9em;
    font-weight: 700;
    line-height: 11px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

.form button:hover {
    box-shadow: 0px 10px 13px rgba(169,149,118,0.49);
}

.form button:focus {
    outline: none;
}

.form span {
    display: block;
    margin: auto;
    width: 75%;
    color: #444444;
    font-size: 0.9em;
    font-weight: 500;
    line-height: 18px;
}

.form span a {
    color: #A99576;
    font-weight: 700;
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
    user-select: none;
}

/** PEDIR AL USUARIO QUE RELLENE EL FORMULARIO **/

.rellenar-formulario {
    display: none;
}

.rellenar-formulario.show {
    display: block;
}

.rellenar-formulario h4 {
    display: inline-block;
    margin-bottom: 10px;
    color: #ff7979;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid #ff7979;
}

/** DATOS INCORRECTOS **/

.datos-incorrectos {
    display: none;
    padding: 10px;
    margin: 10px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    border-radius: 10px;
}

.datos-incorrectos.show {
    display: block;
}


@media only screen and (max-height: 610px) {
    
    .form-bg .form {
        height: 375px;
    }

}

@media only screen and (max-height: 510px) {
    
    .form-bg .form {
        height: 335px;
    }

}